* { box-sizing: border-box; }

body{margin:100px; background-color: black; font-family:"Inter", Roboto, Helvetica, sans-serif; color:white;}
a:link{color: white; background-color:transparent; text-decoration:none;}
a:visited{color: white; text-decoration:none;}
a:hover{color:hsl(0,0%,70%); text-decoration:underline;}

/* Navigation Bar */
.navigation{width:100%; background-color:black;border-collapse:collapse; text-align:center; vertical-align:middle; font-size:2vw; padding:20px;position:sticky; top:0;}
.navbtn{color:#888888;}

.breaks{margin:70px;}

#table01{width:100%; background-color:transparent; border-collapse:collapse; border: 0px solid white; text-align: right;}
.t01d{text-align:right; font-size:100%;}

#table02{width:100%; position:relative; top:40px;}
.t02h{font-size:40%; font-weight: 100; text-align:left; color:#999; padding:5px; vertical-align:super; position:relative; bottom: 50px;}
.t02d1{font-size:70%; font-weight: 120; text-align:left; border-collapse:collapse; padding:0px; vertical-align:super;}
.t02d2{font-size:70%; font-weight: 800; text-align:right; border-collapse:collapse; padding:5px; vertical-align:super;}
.t02d3{font-size:70%; font-weight: 400; text-align:left; border-collapse:collapse; padding:0px; vertical-align:super;}

#table03{width:100%; position:relative; top:40px;}
.t03h{font-size:40%; font-weight: 100; text-align:left; color:#999; padding:5px; vertical-align:super; position:relative; bottom: 50px;}
.t03d1{font-size:70%; font-weight: 120; text-align:left; border-collapse:collapse; padding:0px; vertical-align:super;}
.t03d2{font-size:70%; font-weight: 800; text-align:right; border-collapse:collapse; padding:5px; vertical-align:super;}
.t03d3{font-size:70%; font-weight: 400; text-align:left; border-collapse:collapse; padding:0px; vertical-align:super;}


/* Social Icons */
.icon{width:25px; height:25px; padding:5px;}


/* Story Text Columns */
.subtitle{font-size:5vw; position:relative; top:25px;}
.readtext{text-align: left; padding:0px; margin:4px; font-family:Amstelvar, "Literata", Times New Roman, serif; font-size:12px; vertical-align:super;}
.column{float:left; width:50%; padding:10px;}
.row:after{content: ""; display: table; clear:both;}


/* Section Columns */
.columnA{float:left; width:40%; padding:10px;}
.columnB{float:left; width:60%; padding:10px;}
.columnC{float:right; width:40%; padding:10px;}



@media screen and (max-width:600px){
      .column{width: 100%;}
      .columnA{width: 100%;}
      .columnB{width: 100%;}
      .columnC{width: 100%;}
}


/* Portfolio buttons */
.prtbtns{font-size:16px; color:white;background-color:transparent;border:none;text-align:left;padding:0px;}
h4.modalTitle{
     text-align: center;
     font-size: 120%;
     color: #FFFFFF;
}

/* Portfolio Buttons Animation */
#uxbtn{position: relative; animation-name: anime; animation-duration: 8s; animation-timing-function: ease; animation-delay: 0s; animation-iteration-count: infinite;}
#mgbtn{position: relative; animation: anime 8s ease 0.15s infinite;}
#vgbtn{position: relative; animation: anime 8s ease 0.3s infinite;}
#ipbtn{position: relative; animation: anime 8s ease 0.45s infinite;}
#mubtn{position: relative; animation: anime 8s ease 0.6s infinite;}

@keyframes anime{
      0% {left:0px; color:#FFFFFF;}
      15% {left:-100px; color:#444444;}
      25% {left: 0px; color:#FFFFFF;}
      100% {left:0px; }
}

/* The Modal (background) */
.modal{
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color:rgb(0,0,0);
      background-color:rgba(0,0,0,0.7);
}
/* Modal Content/Box */
.modal-content {
      background-color: rgba(255,255,255,0.25);
      margin: 15% auto;
      padding: 20px;
      border: none;
      width: 80%;
}
/* The Close Button */
.close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      position: sticky;
      top: 0;
}
.close:hover,
.close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
}
